# Ignore shared data (blockchain + BGP stream)
shared_data/blockchain.json
shared_data/bgp_stream.jsonl

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Logs or temp files
*.log
*.tmp

# System files
.DS_Store
Thumbs.db
